.form-control {
  padding: 10px;
}

.form-control input {
  font-size: 1.25rem;
  margin-left: 10px;
  padding: 5px;
}

.form-control label {
  font-size: 1.25rem;
}
.input-error {
  border: 1px solid red;
}
